:root {
  /* primary */
  --hue-primary-1: #e8f3ff; // 浅色
  --hue-primary-2: #bedaff; // 文字禁用
  --hue-primary-3: #94bfff; // 一般禁用
  --hue-primary-4: #6aa1ff; // 特殊场景
  --hue-primary-5: #4080ff; // 悬浮
  --hue-primary-6: #165dff; // 常规
  --hue-primary-7: #0e42d2; // 点击

  /* link */
  --hue-link-1: #4f46e5;
  --hue-link-2: #057748;

  /* background */
  --hue-bg-1: #f5f4f8; // 整体背景色
  --hue-bg-2: #ffffff; // 一级容器背景
  --hue-bg-3: #f8fafc; // 二级容器背景
  --hue-bg-4: #e5e7eb; // 三级容器背景
  --hue-bg-white: #ffffff;

  /* font, border */
  --hue-grey-1: #f7f8fa; // 填充(浅)
  --hue-grey-2: #f2f3f5; // 边框(浅), 填充(常规)
  --hue-grey-3: #e5e6eb; // 边框(一般), 填充(深)
  --hue-grey-4: #c9cdd4; // 边框(深), 填充(重), 文字(置灰信息)
  --hue-grey-5: #a9aeb8;
  --hue-grey-6: #86909c; // 边框(重), 文字(次要信息)
  --hue-grey-7: #6b7785;
  --hue-grey-8: #4e5969; // 文字(次强调/正文标题)
  --hue-grey-9: #272e3b;
  --hue-grey-10: #1d2129; // 文字(强调/正文标题)
}

html[data-theme='dark'] {
  /* primary */
  --hue-primary-1: #000d4d;
  --hue-primary-2: #041b79;
  --hue-primary-3: #0e32a6;
  --hue-primary-4: #1d4dd2;
  --hue-primary-5: #306fff;
  --hue-primary-6: #3c7eff;
  --hue-primary-7: #689fff;

  /* link */
  --hue-link-1: #7c7ef4;
  --hue-link-2: #10b981;

  /* background */
  --hue-bg-1: #17171a; // 整体背景色
  --hue-bg-2: #232324; // 一级容器背景
  --hue-bg-3: #2a2a2b; // 二级容器背景
  --hue-bg-4: #313132; // 三级容器背景
  --hue-bg-white: #f6f6f6;

  /* font, border */
  --hue-grey-1: #17171a; // 填充(浅)
  --hue-grey-2: #2e2e30; // 边框(浅), 填充(常规)
  --hue-grey-3: #484849; // 边框(一般), 填充(深)
  --hue-grey-4: #5f5f60; // 边框(深), 填充(重), 文字(置灰信息)
  --hue-grey-5: #78787a;
  --hue-grey-6: #929293; // 边框(重), 文字(次要信息)
  --hue-grey-7: #6b7785;
  --hue-grey-8: #c5c5c5; // 文字(次强调/正文标题)
  --hue-grey-9: #dfdfdf;
  --hue-grey-10: #f6f6f6; // 文字(强调/正文标题)
}
