:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.1371 0.036 258.5258);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.1371 0.036 258.5258);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.1371 0.036 258.5258);
  --primary: oklch(0.546 0.2153 262.8719);
  --primary-foreground: oklch(0.9838 0.0035 247.8583);
  --secondary: oklch(0.964 0.0029 264.5419);
  --secondary-foreground: oklch(0.2079 0.0399 265.7275);
  --muted: oklch(0.9684 0.0068 247.8951);
  --muted-foreground: oklch(0.5547 0.0407 257.4404);
  --accent: oklch(0.9676 0.0013 286.3752);
  --accent-foreground: oklch(0.2079 0.0399 265.7275);
  --destructive: oklch(0.6368 0.2078 25.3259);
  --destructive-foreground: oklch(0.9838 0.0035 247.8583);
  --border: oklch(0.9256 0.0068 277.1579);
  --input: oklch(0.8473 0.0106 261.7839);
  --ring: oklch(0.546 0.2153 262.8719);
  --chart-1: oklch(0.6772 0.1571 35.1898);
  --chart-2: oklch(0.6309 0.1013 183.4907);
  --chart-3: oklch(0.3787 0.044 225.5393);
  --chart-4: oklch(0.8336 0.1186 88.1463);
  --chart-5: oklch(0.7834 0.1261 58.7491);
  --radius: 0.625rem;
  --sidebar: oklch(0.9848 0 0);
  --sidebar-foreground: oklch(0.3705 0.012 285.8008);
  --sidebar-primary: oklch(0.2103 0.0059 285.8835);
  --sidebar-primary-foreground: oklch(0.9848 0 0);
  --sidebar-accent: oklch(0.9676 0.0013 286.3752);
  --sidebar-accent-foreground: oklch(0.2103 0.0059 285.8835);
  --sidebar-border: oklch(0.9278 0.0058 264.5314);
  --sidebar-ring: oklch(0.6232 0.1879 259.7964);
}

html[data-theme='dark'] {
  --background: oklch(0.2579 0.0013 286.3069);
  --foreground: oklch(0.9838 0.0035 247.8583);
  --card: oklch(0.2565 0.0019 286.2684);
  --card-foreground: oklch(0.9848 0 0);
  --popover: oklch(0.2854 0.0018 286.2847);
  --popover-foreground: oklch(0.9848 0 0);
  --primary: oklch(0.6232 0.1879 259.7964);
  --primary-foreground: oklch(0.9731 0 0);
  --secondary: oklch(0.346 0.0022 325.624);
  --secondary-foreground: oklch(0.9838 0.0035 247.8583);
  --muted: oklch(0.402 0.0017 286.3252);
  --muted-foreground: oklch(0.7119 0.0129 286.0684);
  --accent: oklch(0.2741 0.0055 286.0329);
  --accent-foreground: oklch(0.9838 0.0035 247.8583);
  --destructive: oklch(0.3959 0.1331 25.7205);
  --destructive-foreground: oklch(0.9838 0.0035 247.8583);
  --border: oklch(0.402 0.0017 286.3252);
  --input: oklch(0.4858 0.0016 286.3414);
  --ring: oklch(0.4878 0.217 264.3876);
  --chart-1: oklch(0.5292 0.1931 262.1292);
  --chart-2: oklch(0.6983 0.1337 165.4626);
  --chart-3: oklch(0.7232 0.15 60.6307);
  --chart-4: oklch(0.6192 0.2037 312.7283);
  --chart-5: oklch(0.6123 0.2093 6.3856);
  --sidebar: oklch(0.2103 0.0059 285.8835);
  --sidebar-foreground: oklch(0.9676 0.0013 286.3752);
  --sidebar-primary: oklch(0.4878 0.217 264.3876);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.2741 0.0055 286.0329);
  --sidebar-accent-foreground: oklch(0.9676 0.0013 286.3752);
  --sidebar-border: oklch(0.2741 0.0055 286.0329);
  --sidebar-ring: oklch(0.6232 0.1879 259.7964);
}
