.hotkey-input {
  --uno: w-full h-10 flex items-center gap-2 relative px-3 py-1 border border-2 border-rim2 rounded bg-backdrop2 text-word3 cursor-text;
  transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);

  &:focus {
    --uno: border-primary4;
    box-shadow: 0 0 4px theme('colors.primary4');
  }

  &.cursor::after {
    content: '│';
    --uno: absolute left-2 text-5 animate-blink animate-delay-0;
  }

  & .hotkey-input__placeholder {
    --uno: absolute left-4 text-word4 select-none;
  }
}

.hotkey-input-of {
  --uno: flex flex-wrap gap-2 text-word3 max-w-sm p-3 box-content;
}

.hotkey-input,
.hotkey-input-of {
  & .hotkey-input__key {
    --uno: flex items-center gap-2 px-1.5 py-1 box-border bg-fill2 text-sm rounded-sm cursor-default;

    & .hotkey-input__key--close {
      --uno: opacity-70;

      &:hover {
        --uno: cursor-pointer opacity-90;
      }
    }
  }
}
