.menu {
  & a:hover {
    --uno: text-word11;
  }

  & .menu-option {
    --uno: px-5 py-3 my-3 rounded text-primary11 bg-primary10 opacity-80 cursor-pointer;

    &:hover {
      --uno: bg-primary1 opacity-95 text-white;
    }

    &.active {
      --uno: px-5 py-3 my-3 rounded cursor-pointer bg-primary1 opacity-95 text-white;
    }
  }
}
