@import url('aieditor/dist/style.css');

.rify-editor {
  ul,
  ol {
    list-style: revert;
  }

  blockquote {
    background-color: theme('colors.fill2');
    border-left: 0.25rem solid theme('colors.green.600');
    border-radius: 0.25rem;
    padding: 0.75rem 0 0.75rem 1rem;
  }

  .aie-container {
    aie-footer {
      display: none;
    }

    footer > div {
      border-top: solid 1px var(--aie-container-border);
      height: 20px;
      line-height: 20px;
      font-size: 14px;
      text-align: right;
      color: theme('colors.word2');
      padding: 0.25rem 0;

      span {
        margin-left: auto;
        margin-right: 1rem;
      }
    }

    .aie-codeblock-tools-comments,
    .aie-codeblock-tools-explain {
      display: none !important;
    }
  }
}
