.rify-result {
  --uno: flex flex-col justify-center items-center gap-5;

  & .rify-result-icon {
    --uno: flex justify-center items-center p-3;
  }

  & .rify-result-title {
    --uno: font-bold text-3xl opacity-90;
  }

  & .rify-result-message {
    --uno: text-base;
  }

  & .rify-result-content {
    --uno: min-w-1/2 md: w-2/3 m-auto;
  }
}
