$primaryColor: #0066ff;
$primaryColorHover: #008cff;
$primaryColorPressed: #005ae0;
$primaryColorSuppl: #008cff;

$successColor: #18a058;
$successColorHover: #36ad6a;
$successColorPressed: #0c7a43;
$successColorSuppl: #36ad6a;

$warningColor: #f0a020;
$warningColorHover: #fcb040;
$warningColorPressed: #c97c10;
$warningColorSuppl: #fcb040;

$dangerColor: #d03050;
$dangerColorHover: #de576d;
$dangerColorPressed: #ab1f3f;
$dangerColorSuppl: #de576d;

$infoColor: #34495e;
$infoColorHover: #44586c;
$infoColorPressed: #263747;
$infoColorSuppl: #44586c;
